@model List<EmployeeModel>

<h1 class="header">Employee Management System - View Employees</h1>

<table id="employeeTable">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Net Salary</th>
        <th>Assigned Task</th>
        <th>Action</th>
    </tr>
 
    @foreach (var item in @Model)
    {
        <tr data-id="1">
            <td>@item.firstName</td>
            <td>@item.lastName</td>
            <td contenteditable="true">@item.idNumber</td>
            <td contenteditable="true">@item.address</td>
            <td>
                <button data-id="1" class="delete-button">Delete</button>
                <button data-id="1" class="view-button">View</button>
            </td>
             <td>
            </td>
         </tr>
      @*  <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input"
                   name="selectedRoles"
                   value="@rolename"
                   id="@rolename"
            @(Model.SelectedRoles.Any(i => i == rolename) ? "checked" : "")>
            <label class="custom-control-label" for="@rolename">@rolename</label>
        </div>*@
    }
</table>

<script src="~/js/viewEmployee.js"></script>